body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 620px;
    border: 1px solid black;
    border-radius: 12px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.result-container{
    height: 150px;
    background-color: rgb(238, 238, 238);
    margin: 16px;
    width: 368px;
    padding: 8px;
}

.result-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    white-space: normal;
    overflow-wrap: break-word;
    max-width: 368px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    width: 372px;
    margin-bottom: 20px;
}

.btn{
    font-size: 24px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
}
.btn:hover{
    transition: 0.4s;
    background-color: rgb(75, 75, 75);
    color: white;
}